.App {
  text-align: center;
  height: 750px;
  width: 500px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #69ebca, #7a42af);
}

.camera-feed-container {
  position: relative;
}

.camera-feed {
  margin: 16px;
  border-radius: 16px;
  width: 468px;
  height: 300px;
}

.output_canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.mirror-scene {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.logo {
  position: absolute;
  width: 128px;
  bottom: 16px;
  left: 16px;
}

.url {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 16px;
  padding: 0 16px;
  width: 436px;
  height: 32px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.dropzone {
  margin: 16px;
  margin-bottom: 0px;
  border-radius: 16px;
  padding: 0 16px;
  width: 436px;
  height: 32px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  cursor: pointer;
}

.button {
  margin-top: 3rem;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  color: #38214d;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}